
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.js"></script>
    <script type="text/javascript">
        $("#KalkulatorTunjukan").load("/calculators/binomial.html");
    </script>
</body>
</html>