<% include ./partials/header %>

<div class="container">
    <div class="row well">
        <h1 style="text-align: center">About Us:</h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-4 about">
                <div>
                    <h4><span class="jarak glyphicon glyphicon-user" aria-hidden="true"></span> Agung Santoso (1503113476)</h4>
                    <h4><span class="jarak glyphicon glyphicon-user" aria-hidden="true"></span> Haris Sucipto (1503123272)</h4>
                    <h4><span class="jarak glyphicon glyphicon-user" aria-hidden="true"></span> Mefprizon Muhammad (1503113413)</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>