<% include ./partials/header %>

<div class="container">
    <div class="row well">
        <h1 style="text-align: center">Contact</h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-4 about">
                <div>
                    <h4>Kalian Juga Bisa Ikut Berkontribusi Melalui ini
                    <a href="https://github.com/harissucipto/Kalkulator"<span class="jarak glyphicon glyphicon-link" aria-hidden="true"></span>https://github.com/harissucipto/Kalkulator</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>