<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Selamat Menggunakan!!</h1>
            <p>
                Dirancang untuk menyelesaikan masalah langkah demi langkah!.
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex flex-wrap: wrap;">
        <% calculators.forEach(function(calculator) { %>
            <div class="col-md-3 col-sm-4">
                <div class="thumbnail">
                    <img src="/<%= calculator.image %>">
                    <div class="caption">
                        <h4><%= calculator.name %></h4>
                    </div>
                    <div class="description">
                        <h4><%= calculator.description %></h4>
                    </div>
                    <p>
                        <a href="calculators/<%= calculator._id %>" class="btn btn-primary">Gunakan</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include partials/footer %>