.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.tebal {
    font-weight: bolder;
}

.spasiKeBawah {
    margin-bottom: 10px;
}

.lingkaran {
    border: 4px solid dodgerblue;
}

.inputan {
    width: 100px;
    padding-left: 5px;
    margin-left: 5%;
    border-left: 6px solid green;
}

.perintah {
    margin-bottom: 15px;
}

#jawaban {
    border-left: 1em solid lightblue;
    padding-left: 2%;
    margin-left: 2px;
}

.logreg {
    max-width: 450px;
    margin: 25px auto;
}