<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item"><img src="/<%= calculator.image %>"></li>
                <li class="list-group-item active text-center"><%= calculator.name.toUpperCase() %></li>
                <li class="list-group-item"><%= calculator.description %></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
            <div class="caption-full">
                <div class="text-right">
                    <form action="/calculators/<%= calculator._id %>/bookmark?_method=PUT" METHOD="POST">
                        <button class="btn btn-success" >Add Bookmark</a>
                    </form>
                </div>
                <div id="KalkulatorTunjukan">
                    Sedang Memuat Kalkulator....
                </div>
            </div>
        </div>
    </div>
</div>
    
<% include ../partials/footershow %>